/* 
| ------------------------------------
|| General Styles 
| ------------------------------------
*/

:root {
    /* Variables */
    --white: 247, 250, 253;
    --theme: 255, 90, 105;
    font-family: 'Segoe UI', sans-serif;
}

* {
    /* Box Model */
    margin: 0;

    user-select: none;
}

body {
    /* Box Model */
    box-sizing: border-box;
    padding: 20px;

    /* Appearence */
    background-color: rgb(var(--white));
    /* background: rgb(255,90,105); */
    /* background: linear-gradient(115deg, rgba(255,90,105,1) 0%, rgba(255,90,135,1) 100%); */
    /* background-image: url("background.png"); */
}

/*
| ------------------------------------
|| Popup Styles
| ------------------------------------
*/

.popup {
    /* Display */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    /* Box Model */
    width: 600px;
    height: 450px;
}


.panel {
    /* Box Model */
    height: 100%;
    width: 100%;
    border-radius: 10px;

    /* Appearence */
    background-color: rgb(var(--white));
    box-shadow: 0 2px 6px -1px rgb(180, 183, 186);
}

.popup__text {
    /* Text */
    font-size: 18px;
    font-weight: 600;
}

.popup__text--small {
    /* Text */
    font-size: 13px;
}

/*
| ------------------------------------
|| Popup Header Styles
| ------------------------------------
*/

.popup__header {
    /* Positioning */
    position: relative;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Appearence */
    /* background-color: rgb(var(--theme)); */
}

.popup__header > p {
    /* Box Model */
    margin: 0;

    /* Text */
    color: white;
    font-size: 30px;
}

.popup__header > img {
    width: 240px;
}

.popup__header > svg {
    /* Positioning */
    position: absolute;
    bottom: 0;

    /* Box Model */
    width: 100%;
    border-radius: inherit;
}

.popup__header > svg > path {
    /* Display */
    display: block;
}

/*
| ------------------------------------
|| Popup User Management Styles
| ------------------------------------
*/

.popup__user-management {
    /* Positioning */
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    overflow-y: scroll;
}

.popup__user-management::-webkit-scrollbar {
    width: 8px;
}

.popup__user-management::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(var(--black), 0.05);
}

.popup__user-management::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(var(--theme));
}


.popup__user {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Box Model */
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: inherit;
    
    /* Other */
    transition: 0.1s;
}

.popup__user:hover {
    /* Other */
    background-color: rgba(0, 3, 6, 0.05);
}

.popup__user-color-container {
    /* Box Model */
    width:35px;
    height: 35px;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__user-color-label {
    /* Box Model */
    width: 30px;
    height: 30px;
    border-radius: 100%;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Other */
    background-color: rgb(var(--theme));
    cursor: pointer;
}

.popup__user-color-input {
    /* Positioning */
    position: absolute;
    z-index: -1;

    /* Box Model */
    width: 0;
    height: 0;

    /* Other */
    opacity: 0;
}

.popup__user-color-label > i {
    /* Text */
    font-size: 13px;
    color: rgb(var(--white));
}

.popup__username {
    /* Box Model */
    width: 167px;
    height: 100%;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text */
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
}

/*
| ------------------------------------
|| Popup Refresh Styles
| ------------------------------------
*/

.popup__refresh {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
 
    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;

    /* Box Model */
    padding: 10px;
    box-sizing: border-box;
}

/* 
| ------------------------------------
|| Popup Config Styles 
| ------------------------------------
*/

.popup__config {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    
    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;
    
    /* Box Model */
    padding: 10px;
    box-sizing: border-box;
}

/* 
| ------------------------------------
|| Popup Precise Time Toggle Styles
| ------------------------------------
*/

.popup__precise-time {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    box-sizing: border-box;
}

.popup__text-container {
    /* Positioning */
    position: relative;

    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Text */
    text-align: center; 
}

/* 
| ------------------------------------
|| Popup Input Styling
| ------------------------------------
*/

.popup__button-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__button {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box Model */
    width: 40px;
    height: 40px;
    border: 2px solid rgb(var(--theme));
    border-radius: 2em;

    /* Text */
    color: rgb(var(--theme));
    font-size: 18px;

    /* Animation */
    transition: 0.125s;

    /* Other */
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

.popup__button:hover {
    /* Text */
    color: rgb(var(--white));

    /* Other */
    background-color: rgb(var(--theme));
}

.popup__button:active {
    /* Box Model */
    border-color: transparent;

    /* Other */
    background-color: rgba(var(--theme), 0.8);
}

.popup__toggle-label {
    /* Positioning */
    position: relative;

    /* Box Model */
    width: 58px;
    height: 30px;
    border-radius: 2em;
    
    /* Display */
    display: block;
    
    /* Animation */
    transition: 0.25s;

    /* Other */
    background-color: rgb(197, 200, 203);
    cursor: pointer;
}

.popup__toggle-input {
    /* Display */
    display: none;
}

.toggle-switch {
    /* Positioning */
    position: absolute;
    left: 3px;
    top: 3px;

    /* Box Model */
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    border-radius: 100px;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Animation */
    transition: 0.25s;

    /* Other */
    content: '';
    background-color: rgb(var(--white));
}

.toggle-switch > i {
    color: rgb(var(--theme))
}
      
.popup__toggle-input:checked + .popup__toggle-label > .toggle-switch {
    /* Positioning */
    left: 31px;
}

.popup__toggle-input:checked + .popup__toggle-label > .toggle-switch > .toggle-hidden {
    display: block;
}

.popup__toggle-input:checked + .popup__toggle-label > .toggle-switch > .toggle-visible {
    display: none;
    color: rgb(197, 200, 203);
}

.popup__toggle-input:not(checked) + .popup__toggle-label > .toggle-switch > .toggle-hidden {
    display: none;
}

.popup__toggle-input:not(checked) + .popup__toggle-label > .toggle-switch > .toggle-visible {
    display: block;
    color: rgb(197, 200, 203);
}

.popup__toggle-input:checked + .popup__toggle-label {
    /* Other */
    background-color: rgb(var(--theme));
}

.x {
    background-color: rgb(253, 90, 117);
    background-color: rgb(253, 177, 90);
    background-color: rgb(253, 210, 90);
    background-color: rgb(173, 255, 148);
    background-color: rgb(90, 253, 191);
    background-color: rgb(90, 229, 253);
    background-color: rgb(90, 142, 253);
    background-color: rgb(125, 90, 253);
    background-color: rgb(234, 90, 253);
}
