:root {
    /* Variables */
    --white: 247, 250, 253;
    --theme: 66, 133, 244;
}

* {
    /* Box Model */
    margin: 0;

    user-select: none;
}

body {
    /* Box Model */
    box-sizing: border-box;
    padding: 20px;

    /* Appearence */
    background-color: rgb(var(--white));
}

.popup {
    /* Display */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    /* Box Model */
    width: 600px;
    height: 450px;
}

.panel {
    /* Box Model */
    height: 100%;
    width: 100%;
    border-radius: 10px;

    /* Appearence */
    background-color: inherit;
    box-shadow: 0 2px 6px -1px rgb(180, 180, 180);
}

.popup__text {
    /* Text */
    font-size: 18px;
    font-weight: 600;
}

.popup__text--small {
    /* Text */
    font-size: 13px;
}

.popup__header {
    /* Positioning */
    position: relative;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Appearence */
    background-color: rgb(var(--theme));
}

.popup__header > p {
    /* Box Model */
    margin: 0;

    /* Text */
    color: white;
    font-size: 30px;
}

.popup__header > svg {
    /* Positioning */
    position: absolute;
    bottom: 0;

    /* Box Model */
    width: 100%;
    border-radius: inherit;
}

.popup__header > svg > path {
    /* Display */
    display: block;
}

.popup__user-management {
    /* Positioning */
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

.popup__refresh {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
 
    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;

    /* Box Model */
    padding: 10px;
    box-sizing: border-box;
}

.popup__config {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    
    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;
    
    /* Box Model */
    padding: 10px;
    box-sizing: border-box;
}

.popup__precise-time {
    /* Positioning */
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    /* Display */
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    box-sizing: border-box;
}

.popup__text-container {
    /* Positioning */
    position: relative;

    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Text */
    text-align: center; 
}

.popup__toggle-label {
    /* Positioning */
    position: relative;

    /* Box Model */
    width: 58px;
    height: 30px;
    border-radius: 2em;
    
    /* Display */
    display: block;
    
    /* Animation */
    transition: 0.25s;

    /* Other */
    background-color: rgb(197, 200, 203);
    cursor: pointer;
}

.popup__toggle-input {
    /* Display */
    display: none;
}

.popup__toggle-label::after {
    /* Positioning */
    position: absolute;
    left: 3px;
    top: 3px;

    /* Box Model */
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    border-radius: 100px;

    /* Display */
    display: block;
    
    /* Animation */
    transition: 0.25s;

    /* Other */
    content: '';
    background-color: rgb(var(--white));
}
      
.popup__toggle-input:checked + .popup__toggle-label::after {
    /* Positioning */
    left: 31px;
}

.popup__toggle-input:checked + .popup__toggle-label {
    /* Other */
    background-color: rgb(var(--theme));
}

.popup__button-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__button {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box Model */
    width: 40px;
    height: 40px;
    border: 2px solid rgb(var(--theme));
    border-radius: 2em;

    /* Text */
    color: rgb(var(--theme));
    font-size: 18px;

    /* Animation */
    transition: 0.125s;

    /* Other */
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

.popup__button:hover {
    /* Text */
    color: rgb(var(--white));

    /* Other */
    background-color: rgb(var(--theme));
}

.popup__button:active {
    /* Box Model */
    border-color: transparent;

    /* Other */
    background-color: rgba(var(--theme), 0.8);
}